.topo{
    margin-top: 20px;
}

.tituloformulariopost{
    color: white;
    text-shadow: 4px 2px 1px red
}

#demo-simple-select-helper-label{
    color: white;
    text-shadow: 4px 2px 1px rgb(241, 114, 114)
}

