
.sociais{
    font-size: 37px !important;
    color: aqua;
    
}
.textos{
    color: greenyellow;
    font-size: 20px !important;
}
.box{
    background-color: rgb(179, 25, 25);
    height: 90px;
}
